<!-- Begin Header -->
@model IEnumerable<LeQuangDuy_181203460.Models.LoaiHang>
<div class="header">
    <div class="header_top">
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt="" /></a>
        </div>
        <div class="cart">
            <p>
                Welcome to our Online Store! <span>Cart:</span><div id="dd" class="wrapper-dropdown-2">
                    0 item(s) - $0.00
                    <ul class="dropdown">   
                        <li>you have no items in your Shopping cart</li>
                    </ul>
                </div>
            </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="header_bottom">
        <div class="menu">
            <ul>
                <li class="active"><a href="index.html">Le Quang Duy</a></li>
                @foreach(var i in Model)
                    {
                    <li id="@i.MaLoai"><a>@i.TenLoai</a></li>
                    }
                <div class="clear"></div>
            </ul>
        </div>
        <div class="search_box">
            <form>
                <input id="search" type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                <input name ="search" type="button" value="">
            </form>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- End Header -->

@Scripts.Render("~/bundles/jquery")

<script>
    $("li").click(function (e) {
        var id = $(this).attr("id");
        $.ajax({
            url: "LoadProductByCatId",
            data: { CatId: id },
            success: function (res) {
                $("div.content").html(res)
            }
        });
    });
</script>

<script>
    $("input[name='search']").click(function (e) {
        var s = $("#search").val(); 
        console.log(s);
        $.ajax({
            url: "SearchProduct",
            data: { nameProduct: s },
            success: function (res) {
                $("div.content").html(res)
            }
        });
    });
</script>